<a class="list-group-item list-group-item-action" aria-current="true">
  <div class="d-flex w-100 justify-content-between">
    <%= image_tag("#{rand(1..5)}", class: "rounded me-2", alt: "Mon image", size: "25x25") %>
    <h5 class="mb-1"><%= var_mail.object %></h5>
    <%= button_to("", email_path(var_mail.id), method: "delete", class: "btn-close", remote: true) %>
  </div>
  <p class="mb-1"><%= var_mail.body %></p>
  <%
    time_diff = Time.now - var_mail.created_at
    time_diff_hrs = time_diff/3600
    time_diff_mns = (time_diff%3600)/60
    time_diff_ss = (time_diff%3600)%60
  %>
  <div class="d-flex w-100 justify-content-between">
  <small class="fst-italic">Message réf. <%= var_mail.id %></small>
  <small class="fst-italic">Reçu il y a <%= "#{time_diff_hrs.to_i}h #{time_diff_mns.to_i}' #{time_diff_ss.to_i}''" %></small>
  </div>
</a>